.a{
    /* leading: không gian đọc giữa các dòng văn bản*/
    /*line-height = leading + font-size*/
    line-height: 32px;
    /* khoảng cách giữa các chữ, các từ */
    letter-spacing: 6px;
    word-spacing: 6px;
        /* căn chỉnh lề văn bản*/
        text-align: center;
        
}
*{
    margin: 16 0 ;
}

.b{
    line-height: 32px;
}
p img{
    /* căn chỉnh phần tử*/
    vertical-align: text-top;
}
/* chữ đầu tiên*/
p.a::first-line{
    font-size: 200%;
}
/* link nằm ở đây */
.link:link{
    color: blue;
    text-decoration: none;
}
/* link khi đã kik vào một lần  */
.link:visited{
    color: brown;

}
/* link khi đưa con trỏ tới link */
.link:hover{
    color: chartreuse;
    text-decoration: underline;
}
/* link đổi màu */
.link:active{
    color: yellow;
}
