<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/layout/assets/resets.css">
    <link rel="stylesheet" href="/layout/assets/style.css">
    
    <title>Document</title>
</head>
<body>
    <div class="ok">
        <h1>đất nước</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Sit non iusto nihil
         officia voluptas asperiores et vel neque
          aspernatur consectetur vitae sequi quaerat
          , consequatur repellat ipsam harum dolores
           eius illum repudiandae. Laboriosam laborum
           aliquam consectetur, minus vero quae quo
            recusandae asperiores voluptatem nesciunt 
            ipsam optio reprehenderit pariatur reiciendis 
            corrupti maiores quas fugiat ipsum itaque.
             Veniam odio reprehenderit ex eos. Delectus 
             unde laudantium quisquam aperiam, repellendus
              recusandae non nostrum. Nostrum, ex.</p>
        </div>
        
</body>
</html>